{% extends "base.html.twig" %}
{% block title %}edit event{% endblock %}
{% block main %}
    <h2>Edit Event</h2>
    {{form_start(form)}}
    {{form_widget(form)}}
    {{form_end(form)}}
{% endblock %}